.todo {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;

  align-items: center;
  gap: 1rem;

  padding: 1rem;

  background-color: #fff;

  &__label {
    position: absolute;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__checkbox {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__remove {
    width: 1.5rem;
    height: 1.5rem;

    z-index: 10;
  }

  &__task {
    transition: color 50ms ease-in-out;
    user-select: none;

    overflow: hidden;
    word-break: break-word;

    &_completed {
      color: var(--text-color-secondary);
      text-decoration: line-through;
    }
  }

  @media (hover: hover) {
    &:hover {
      .todo__task {
        color: var(--text-color-secondary);
      }
    }
  }
}
