.app {
  max-width: 768px;
  height: 100%;

  margin: 0 auto;

  // 448px <= 768px
  padding: clamp(0rem, 10vw - 2.8rem, 2rem);

  &__container {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    padding-bottom: 4rem;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 200;

    text-align: center;
    text-transform: lowercase;

    margin-top: 2rem;
  }
}
