.addTodo {
  &__input {
    width: 100%;

    font-size: 1rem;

    border: none;
    padding: 1rem;

    &::placeholder {
      color: var(--text-color-secondary);
    }

    &:focus {
      outline: 1px solid var(--border-color-primary);
    }
  }
}
